<header class="w3-container" style="padding-top:22px">
  <h5>
    <b>
      <i class="fa fa-dashboard"></i> Stats</b>
  </h5>
</header>

<div class="w3-row-padding w3-margin-bottom">
  <div class="w3-quarter">
    <div class="w3-container w3-red w3-padding-16">
      <div class="w3-left">
        <i class="fa fa-database w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h3>3</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Caches</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-blue w3-padding-16">
      <div class="w3-left">
        <i class="fa fa-cubes w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h3>308</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Chunks</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-teal w3-padding-16">
      <div class="w3-left">
        <i class="fa fa-th w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h3>10 MB</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Current size</h4>
    </div>
  </div>
  <div class="w3-quarter">
    <div class="w3-container w3-orange w3-text-white w3-padding-16">
      <div class="w3-left">
        <i class="fa fa-th w3-xxxlarge"></i>
      </div>
      <div class="w3-right">
        <h3>20 MB</h3>
      </div>
      <div class="w3-clear"></div>
      <h4>Max size</h4>
    </div>
  </div>
</div>

<hr>

<div class="w3-container">
  <h5>
    <b>
      <i class="fa fa-dashboard"></i> Storage </b>
  </h5>
  <p> {{.TotalSize}} / {{.TotalMaxSize}}</p>
  <div class="w3-grey">
    <div class="w3-container w3-center w3-padding w3-green" style="width:{{.TotalPercent}}%">{{.TotalPercent}}%</div>
  </div>
</div>

<hr>

<div class="w3-container">
  <h5>
    <b>
      <i class="fa fa-dashboard"></i> Individual caches </b>
  </h5>

  <ul class="w3-ul w3-card-4 w3-white">
    {{ if .Caches}} {{range .Caches}}

    <li class="w3-padding-16">
      <!-- CACHE LOCATION -->
      <span class="w3-xlarge">{{.Path}}</span>
      <!-- CACHE SIZE -->
      <p>{{.Size}} / {{.MaxSize}}</p>
      <div class="w3-grey">
        <!-- CACHE COLOR (blue < 10%, green < 70%, orange <90%, red <= 100) -->
        <div class="w3-container w3-center w3-padding w3-red" style="width:{{.Percent}}%"> {{.Percent}}% </div>
      </div>
      <br>
      <!-- Move cache -->
      <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-folder"></i>
      </a>
      <!-- Display chunks in cache -->
      <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-cubes"></i>
      </a>
      <!-- Clone cache -->
      <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-code-fork"></i>
      </a>
      <!-- Change settings -->
      <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-cog"></i>
      </a>
      <!-- Delete cache -->
      <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-trash"></i>
      </a>
      <br>
    </li>
    {{end}}
    {{else}} {{end}}
  </ul>
</div>

<hr>
