<li class="w3-padding-16">
    <!-- CACHE LOCATION -->
    <span class="w3-xlarge">/tmp/cryptor5557hbi2001</span> 
    <!-- CACHE SIZE -->
    <p>20 MB / 20 MB</p>
    <div class="w3-grey">
        <!-- CACHE COLOR (blue < 10%, green < 70%, orange <90%, red <= 100) -->
        <div class="w3-container w3-center w3-padding w3-red" style="width:100%">100%</div>
    </div>
    <br>
    <!-- Move cache -->
    <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-folder"></i>
    </a>
    <!-- Display chunks in cache -->
    <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-cubes"></i>
    </a>
    <!-- Clone cache -->
    <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-code-fork"></i>
    </a>
    <!-- Change settings -->
    <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-cog"></i>
    </a>
    <!-- Delete cache -->
    <a href="#" class="w3-bar-item w3-button">
        <i class="fa fa-trash"></i>
    </a>
    <br>
</li>