{{ define "base" }}
<!DOCTYPE html>
<html>

<title>cryptor dashboard</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1"> {{block "style" .}} {{end}}

<body class="w3-light-grey">

  <!-- Top container -->
  <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();">
      <i class="fa fa-bars"></i> Menu</button>
    <span class="w3-bar-item w3-right">cryptor dashboard</span>
  </div>

  <!-- Sidebar -->
  {{template "sidebar" .Sidebar}}

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu"
    id="myOverlay"></div>

  <div class="w3-main" style="margin-left:300px;margin-top:43px;">

    {{with .Header}}
    <header class="w3-container" style="padding-top:22px">
      <h5>
        <b>
          <i class="fa fa-{{.Icon}}"></i> {{.Title}}</b>
      </h5>
    </header>
    {{end}}

    {{template "blocks" .}}
  </div>

  {{block "scripts" .}} {{end}}
</body>

</html>
{{end}}