<div class="w3-row-padding w3-margin-bottom">
    {{if .Blocks}} {range .Blocks}
    <div class="w3-quarter">
        <div class="w3-container w3-{{.Color}} w3-padding-16">
            <div class="w3-left">
                <i class="fa fa-{{.Icon}} w3-xxxlarge"></i>
            </div>
            <div class="w3-right">
                <h3>{{.Value}}</h3>
            </div>
            <div class="w3-clear"></div>
            <h4>{{.Name}}</h4>
        </div>
    </div>
    {{end}} {{else}} {{end}}
</div>